[Desktop Entry]
Version=1.0
Name=Firefox
GenericName=Web Browser
Exec=firefox http://localhost/ %u 
Icon=firefox
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
Categories=Network;WebBrowser;
Keywords=web;browser;internet;
Actions=new-window;new-private-window;

X-Desktop-File-Install-Version=0.23
